html {
  background-color: 	#0c122c;
  text-align: center;
}

.fylo-background,
.storage-background {
  background-color: 	#1d2c67;
  border-radius: 15px;
  width: 50%;
}

.GB-left-background {
  background-color: hsl(229, 7%, 55%);
}

.fylo-background {
  width: 25%;
  border-radius: 5px 100px 5px 5px;
  height: 175px;
}

.fylo-text {

}

.logo {
  margin-top: 30px;
  position: relative;
  right: 50px;
}

.icons {
  overflow: hidden;
  position: relative;
}

.document,
.folder,
.upload {
  background-color: #0c122c;
  position: relative;
  float: left;
  width: 15%;
  left: 30px;
  margin: 20px 10px 0 0;
  border-radius: 10px;
}

.black-text {
  color: black;
  font-size: 2em;
  font-family: sans-serif;
  border: .5px solid #ffe599;
}

.progress-bar-background {
  color: #5b5b5b;
  height: 24px;
  background-color: #0a1027;
  width: 60%;
  border-radius: 15px;
}

.progress-bar {
  background-image: linear-gradient(to right, 	#ffa399, #ff4d97);
  width: 80%;
  height: 18px;
  border-radius: 15px;
  position: relative;
  top: 3px;
  left: 5px;
}

.img1 {
  margin: 10px 0 7px 0;
}

.img2 {
  margin: 13px 0 8px 0;
}

.img3 {
  margin: 13px 0 12px 0;
}

/**** TALK BUBBLE ****/
.talk-bubble {
	margin: 40px;
  display: inline-block;
  position: relative;
	width: 200px;
	height: auto;
	background-color: #BCBCBC;
  border-radius: 10px 10px 0 10px;
}

.tri-right.border.btm-right:before {
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -8px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 0px;
	bottom: -20px;
	border: 12px solid;
	border-color: #BCBCBC #BCBCBC transparent transparent;
}

.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
/**** TALK BUBBLE ****/

p {
  color: grey;
}
